<!----------------------フラッシュメッセージ表示---------------------->
<div>
  <%= flash[:notice] %>
</div>
<!-------------------------------------------------------------------->

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">

<h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>

<p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<p class="mx-5" >
  <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-info btn-block" %>
</p>

<p class="mx-5">
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success btn-block" %>
</p>

    </div>
  </div>
</div>